.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  max-width: 710px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
}

.submit-button {
  max-width: 25px;
  min-width: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  background-color: #ff007a;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-field {
  display: block;
  max-height: 25px;
  max-width: 450px;
  min-width: 450px;
  margin: 0px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #fdeaf1;
  color: #ff007a;
  font-size: 16px;
  text-align: right;
}

.body {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #f6f0f5;
  direction: ltr;
  color: #333;
  text-align: right;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.section {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #f7f8fa;
}

.section-2 {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #f7f8fa;
}

.section-3 {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #f7f8fa;
}

.section-4 {
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #f7f8fa;
}

.section-5 {
  border-radius: 20px;
  background-color: #fff;
}

.section-6 {
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 20px 20px 0px 0px;
  background-color: #f7f8fa;
}

.section-7 {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #f7f8fa;
}

.field-label {
  max-width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 16px;
  text-align: left;
}

.grid-2 {
  padding: 4px 5px 2px 10px;
  clear: none;
  grid-template-areas: "Area";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
  text-align: center;
}

.form {
  text-align: center;
}

.grid-3 {
  padding: 2px 5px 2px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-8 {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #f7f8fa;
}

.section-9 {
  border-radius: 0px 0px 20px 20px;
  background-color: #f7f8fa;
}

.grid-4 {
  padding: 2px 5px 2px 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
}

.grid-5 {
  padding: 2px 5px 2px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6 {
  padding: 2px 5px 2px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-7 {
  padding: 2px 5px 2px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-8 {
  margin-bottom: 5px;
  padding: 2px 5px 4px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-10 {
  border: 1px solid #c3c5cb;
  border-radius: 20px;
  background-color: #f7f8fa;
}

.text-field-2 {
  max-height: 25px;
  max-width: 450px;
  min-width: 450px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #c3c5cb;
  border-radius: 20px;
  background-color: transparent;
  text-align: right;
}

.text-field-3 {
  max-height: 25px;
  max-width: 450px;
  min-width: 450px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 15px;
  border: 1px solid #c3c5cb;
  border-radius: 20px;
  background-color: transparent;
  text-align: right;
}

.grid-9 {
  overflow: auto;
  min-height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 1px none transparent;
}

.field-label-2 {
  margin-bottom: 0px;
  margin-left: 5px;
  padding-left: 10px;
  text-align: left;
}

.field-label-3 {
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 40px;
  min-height: 40px;
  min-width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ff007a;
  border-radius: 20px;
  background-color: #fdeaf1;
  color: #ff007a;
  font-size: 16px;
  font-weight: 700;
}

.form-block {
  margin-bottom: 0px;
}

.button-2 {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 25px;
  max-width: 200px;
  min-height: 25px;
  margin-top: 5px;
  margin-right: 5px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  font-weight: 700;
  text-align: left;
}

.grid-10 {
  margin-bottom: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 45px;
  min-height: 45px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 0px;
  border-color: #000;
  border-radius: 20px;
  background-color: #ff007a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.button-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 40px;
  max-width: 337px;
  min-height: 40px;
  min-width: 337px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ff007a;
  border-radius: 20px;
  background-color: #fdeaf1;
  color: #ff007a;
  font-size: 16px;
  font-weight: 700;
}

.select-field {
  display: block;
  max-height: 25px;
  max-width: 450px;
  min-width: 450px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 20px;
  background-color: #fdeaf1;
  direction: rtl;
  color: #ff007a;
  font-weight: 400;
  text-align: right;
}

.section-11 {
  background-color: #f7f8fa;
}

.container-2 {
  max-width: 1000px;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #fff;
}

.grid-11 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-12 {
  padding: 2px 5px 2px 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field-4 {
  max-height: 25px;
  max-width: 450px;
  min-height: 25px;
  min-width: 450px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: right;
}

.field-label-4 {
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: left;
  text-decoration: none;
}

.form-block-2 {
  margin-bottom: 0px;
}

.button-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 30px;
  min-height: 30px;
  min-width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3898ec;
  border-radius: 20px;
  background-color: #3898ec;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.textarea {
  display: block;
  max-height: 30px;
  min-height: 30px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  text-decoration: none;
}

.grid-13 {
  padding-top: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 25px;
  max-width: 200px;
  min-height: 25px;
  min-width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
}

.text-field-5 {
  max-height: 25px;
  max-width: 450px;
  min-height: 25px;
  min-width: 450px;
  margin-bottom: 0px;
  border-radius: 20px;
  text-align: right;
}

.grid-14 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 45px;
  min-height: 45px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #ff007a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.button-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 40px;
  min-height: 40px;
  min-width: 100%;
  margin-top: 2px;
  margin-bottom: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #ff007a;
  border-radius: 20px;
  background-color: #fdeaf1;
  color: #ff007a;
  font-size: 16px;
  font-weight: 700;
}

.section-12 {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 10px 0px 10px 20px;
  border-radius: 20px;
  background-color: #f7f8fa;
}

.grid-15 {
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  border-radius: 20px;
}

.grid-16 {
  margin-left: 10px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-17 {
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-18 {
  margin-top: 0px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-19 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 20px;
}

.grid-20 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-21 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 20px;
}

.checkbox-field {
  margin-right: 20px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: left;
}

.checkbox {
  display: block;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  clear: left;
  text-align: left;
}

.grid-22 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-23 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field-6 {
  max-height: 25px;
  max-width: 337px;
  min-width: 337px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 0px 15px;
  border-radius: 20px;
  text-align: right;
}

.text-field-7 {
  max-height: 25px;
  max-width: 337px;
  min-width: 337px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 0px 15px;
  border-radius: 20px;
  text-align: right;
}

.checkbox-label {
  margin-left: 10px;
  font-weight: 700;
}

.checkbox-label-2 {
  margin-left: 10px;
  font-weight: 700;
}

.checkbox-label-3 {
  margin-left: 10px;
  font-weight: 700;
}

.field-label-5 {
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
}

.field-label-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.checkbox-label-4 {
  margin-left: 10px;
  font-weight: 700;
}

.checkbox-label-5 {
  margin-left: 10px;
  font-weight: 700;
}

.checkbox-label-6 {
  margin-left: 10px;
  font-weight: 700;
}

.container-3 {
  max-width: 100%;
  min-height: 800px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 20px;
  background-color: #f7f8fa;
}

.textarea-2 {
  position: fixed;
  display: block;
  overflow: scroll;
  max-height: 100.00004500307114%;
  max-width: 143%;
  min-height: 490px;
  min-width: 100%;
  margin-bottom: 0px;
  border-radius: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.form-block-3 {
  max-height: 100%;
  max-width: 100%;
  min-height: 800px;
  min-width: 100%;
  margin-bottom: 0px;
}

.form-2 {
  max-height: 100.00004500307114%;
  max-width: 100%;
  min-height: 800px;
  min-width: 100%;
}

.grid-24 {
  margin-top: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.textarea-3 {
  max-height: 100%;
  min-height: 800px;
  border-radius: 20px;
}

.button-9 {
  max-width: 100%;
  min-width: 100%;
  margin-top: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
}

.grid-25 {
  margin-bottom: 2px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.field-label-7 {
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: left;
}

.field-label-8 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: left;
}

.grid-26 {
  margin-top: 5px;
  margin-bottom: 2px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#w-node-a61585ff-16a4-1a98-0bd3-f96790d5387c-86decffe {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#api-key-input.w-node-_1228a9ff-1f6c-f68a-fb5b-1f0de40f1724-86decffe {
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-node-button.w-node-_9f469d18-cdf6-a2d0-9a87-2859a5cade77-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-sender-button.w-node-fefeda84-1f37-04ae-d5d7-5431a26089ab-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-router-button.w-node-_46e0e5f5-11db-9c04-3051-b96e129a62ab-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-first-token-button.w-node-_8deb96df-9790-02d1-3a79-4a37e26186fb-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-second-token-button.w-node-ac5d7b02-4049-3930-dac0-a4969e65fc0f-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

#update-pair-button.w-node-_705c7da9-0d91-3057-4408-bb575732e3ed-86decffe {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
}

